{% extends "blog/base.html" %}
{% load django_markdown django_markdown_static %}
{% load replace %}

{% block custom_styles %}
  <link href="{% static "django_markdown/preview.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb_nav %}
<div class="scp-breadcrumb">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">Article</a></li>
        <li class="active">{{ object.slug }}</li>
    </ul>
</div>
{% endblock breadcrumb_nav %}

{% block main %}
    <h2 class="blog-post-title">{{object.title}}</h2>
    {% replace search="div class=\"collapse\"" replacement="div class=\"collapse in\"" %}
        {{ object.text | markdown }}
    {% endreplace %}

<!-- disqus BEGIN -->
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//xusio.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!-- disqus END -->

{% endblock %}
