{% extends "blog/base.html" %}
{% load django_markdown django_markdown_static %}

{% block custom_styles %}
  <link href="{% static "django_markdown/preview.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb_nav %}
<div class="scp-breadcrumb">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">Article</a></li>
        <li class="active">{{ object.slug }}</li>
    </ul>
</div>
{% endblock breadcrumb_nav %}

{% block main %}
    <h2 class="blog-post-title">{{object.title}}</h2>
    {{ object.text | markdown }}


<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2046778"></script>
<!-- UY END -->

{% endblock %}
