{% extends "blog/base.html" %}
{% load django_markdown %}

{% block breadcrumb_nav %}
<div class="scp-breadcrumb">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}"><i>Home</i></a></li>
        <li class="active"><i>Me</i></li>
    </ul>
</div>
{% endblock breadcrumb_nav %}

{% block main %}
    <a href="{{ me.avator_link }}" target="_blank">
      <img src="media/{{ me.avator }}" class="img-responsive" alt="" style="height: 500px;">
    </a><br>
    <p><i><b>· Name: </b>{{ me.name }} <a href="{% url 'donates' %}">donate</a></i></p>
    {% if me.is_show_idea %}
        <p><i><b>· Idea: </b>{{ me.idea }}</i></p>
    {% endif %}
    {% if me.is_show_email %}
      <p><b>· <i class="fa fa-envelope" aria-hidden="true"></i></b>
        <i>
          <a href="{{ me.email }}" target="_blank">
           {{ me.email }}
          </a>
        </i>
      </p>
    {% endif %}
    {% if me.is_show_github %}
      <p><b>· <i class="fa fa-github" aria-hidden="true"></i></b>
        <i>
          <a href="{{ me.github }}" target="_blank">
           {{ me.github|cut:"https://"|cut:"http://" }}
          </a>
        </i>
      </p>
    {% endif %}
    {% if me.is_show_stackoverflow %}
      <p><b>· <i class="fa fa-stack-overflow" aria-hidden="true"></i></b>
        <i>
          <a href="{{ me.stackoverflow }}" target="_blank">
           {{ me.stackoverflow|cut:"https://"|cut:"http://" }}
          </a>
        </i>
      </p>
    {% endif %}
{% endblock main %}
