{% extends "blog/base.html" %}
{% load django_markdown %}

{% block breadcrumb_nav %}
<div class="scp-breadcrumb">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">Works</li>
    </ul>
</div>
{% endblock breadcrumb_nav %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>homepage</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <td scope="row">
                {{ forloop.counter }}
            </td>
            <td>
                {{ work.name }}
            </td>
            <td>
                <a href="http://{{ work.homepage }}">
                    {{ work.homepage }}
                </a>
            </td>
            <td>{{ work.desc }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock main %}
