{% extends "base.html" %}

{% block page_css %}
    <link href="/static/css/archives.css" rel="stylesheet">
{% endblock page_css %}

{% block content %}

<dl>
    {% for year, articles in archives.items %}
    <dt>{{year}}</dt>
        {% for article in articles %}
            <dd>
                <span class="postdate">{{article.create_date|date:"m/d"}}</span>
                <a href="{% url "article_detail" slug=article.slug %}">{{article.title}}</a>
            </dd>
        {% endfor %}
    {% endfor %}
</dl>

{% endblock content %}

