{% extends "base.html" %}
{% load django_markdown %}

{% block main %}

{% for article in articles %}
  {% include "article_info.html" %}
{% endfor %}

<nav>
    <ul class="pagination">
        {% if articles.has_other_pages %}
        <li>
            {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">
                    &laquo;
                </span>
            </a>
            {% endif %}
        </li>

        {% for page_num in articles.paginator.page_range %}
            {% if articles.number > 4 %}
                {% if page_num > articles.number|add:"-4" %}
                    {% if page_num < articles.number|add:"3" %}
                    <li class="{% if page_num == articles.number %}active{% endif %}">
                        <a href="?page={{ page_num }}">{{ page_num }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            {% elif page_num < 7 %}
            <li class="{% if page_num == articles.number %}active{% endif %}">
                <a href="?page={{ page_num }}">{{ page_num }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}
        {% endfor %}

        <li>
            {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">
                    &raquo;
                </span>
            </a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock main %}
