{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
    {% for article in articles %}
        <h2 class="blog-post-title"><a href="{% url "article_detail" slug=article.slug %}">{{ article.title }}</a></h2>
        <p class="blog-post-meta">{{ article.create_date }} by {{ article.author }}</p>
        <p>{{ article.text | markdown | safe | truncatechars:200}}</p>
        <div><a href="{% url "article_detail" slug=article.slug %}">read more</a></div></br>
    {% endfor %}


    <!--<div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>-->

    <!--<nav>
        <ul class="pager">
            {% if articles.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">previous123</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
            {% endif %}
        </ul>
    </nav>-->

    <nav>
        <ul class="pager">
            {% if articles.has_previous %}
                <li><a href="?page={{ contacts.previous_page_number }}">Prev</a></li>
            {% endif %}

            <!--<span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>-->


            

            {% if articles.has_next %}
                <li><a href="?page={{ articles.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
