{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
{% for article in articles %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="{% url "article_detail" slug=article.slug %}">{{article.title}}</a></h2>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-calendar date-icon"></span>
      <span class="date">{{article.create_date|date:"Y/m/d"}}</span>
      <span class="glyphicon glyphicon-user author-icon"></span> 
      <span class="author"><a href="www.baidu.com">{{article.author}}</span></a>
    </p>

    <p>
      {{article.text|markdown|safe|truncatechars:100|linebreaks}}
    </p>

    <p>
      <div class="readmore">
        <a href="{% url "article_detail" slug=article.slug %}">read more</a>
      </div>
    </p>

    <p class="blog-post-meta">
        <span class="glyphicon glyphicon-folder-open folder-open-icon"></span>
        <span class="folder-open">{{article.GetCategory}}</span>
        <span class="glyphicon glyphicon-tags tags-icon"></span>
        <span class="tags">
          {% for tag in article.GetTags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}
        </span>
    </p>

    <hr class="line">   

</div>
{% endfor %}

<nav>
  <ul class="pagination">
    <li><a href="{% if articles.has_previous %}?page={{articles.previous_page_number}}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      {% for page_num in articles.paginator.page_range %}
        <li class="{% if page_num == articles.number %}active{% endif %}"><a href="?page={{page_num}}">{{page_num}}<span class="sr-only">(current)</span></a></li>
      {% endfor %}
    <li><a href="{% if articles.has_next %}?page={{articles.next_page_number}}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>

{% endblock %}
