<p>
    {% for tag in tags %}
        <li><a href="{{ tag.GetAbsoluteURL }}">{{ tag.name }}</a></li>
    {% endfor %}


<a href="http://coolshell.cn/tag/agile" class="tag-link-17" title="15个话题" style="font-size: 11.8532110092pt;">agile</a>
<a href="http://coolshell.cn/tag/html" class="tag-link-38" title="33个话题" style="font-size: 16.0917431193pt;">HTML</a>
<a href="http://coolshell.cn/tag/ie" class="tag-link-175" title="10个话题" style="font-size: 9.79816513761pt;">IE</a>
<a href="http://coolshell.cn/tag/java" class="tag-link-13" title="48个话题" style="font-size: 18.1467889908pt;">Java</a>
<a href="http://coolshell.cn/tag/javascript" class="tag-link-114" title="51个话题" style="font-size: 18.5321100917pt;">Javascript</a>
<a href="http://coolshell.cn/tag/jquery" class="tag-link-191" title="11个话题" style="font-size: 10.3119266055pt;">jQuery</a>
<a href="http://coolshell.cn/tag/linux" class="tag-link-37" title="63个话题" style="font-size: 19.6880733945pt;">Linux</a>
<a href="http://coolshell.cn/tag/mysql" class="tag-link-106" title="7个话题" style="font-size: 8pt;">MySQL</a>
<a href="http://coolshell.cn/tag/oop" class="tag-link-245" title="8个话题" style="font-size: 8.64220183486pt;">OOP</a>
<a href="http://coolshell.cn/tag/password" class="tag-link-319" title="8个话题" style="font-size: 8.64220183486pt;">password</a>
<a href="http://coolshell.cn/tag/performance" class="tag-link-120" title="15个话题" style="font-size: 11.8532110092pt;">Performance</a>
<a href="http://coolshell.cn/tag/php" class="tag-link-35" title="25个话题" style="font-size: 14.5504587156pt;">PHP</a>
<a href="http://coolshell.cn/tag/programmer" class="tag-link-70" title="94个话题" style="font-size: 21.871559633pt;">Programmer</a>
<a href="http://coolshell.cn/tag/programming" class="tag-link-499" title="8个话题" style="font-size: 8.64220183486pt;">Programming</a>
<a href="http://coolshell.cn/tag/programming-language" class="tag-link-115" title="12个话题" style="font-size: 10.6972477064pt;">programming language</a>
<a href="http://coolshell.cn/tag/puzzle" class="tag-link-514" title="11个话题" style="font-size: 10.3119266055pt;">Puzzle</a>
<a href="http://coolshell.cn/tag/pythondev" class="tag-link-33" title="29个话题" style="font-size: 15.4495412844pt;">Python</a>
<a href="http://coolshell.cn/tag/ruby" class="tag-link-69" title="10个话题" style="font-size: 9.79816513761pt;">Ruby</a>
<a href="http://coolshell.cn/tag/sql" class="tag-link-131" title="10个话题" style="font-size: 9.79816513761pt;">SQL</a>
<a href="http://coolshell.cn/tag/tdd" class="tag-link-485" title="8个话题" style="font-size: 8.64220183486pt;">TDD</a>
<a href="http://coolshell.cn/tag/ui" class="tag-link-47" title="12个话题" style="font-size: 10.6972477064pt;">UI</a>
<a href="http://coolshell.cn/tag/unix" class="tag-link-21" title="33个话题" style="font-size: 16.0917431193pt;">Unix</a>
<a href="http://coolshell.cn/tag/vim" class="tag-link-50" title="19个话题" style="font-size: 13.1376146789pt;">vim</a>
<a href="http://coolshell.cn/tag/web" class="tag-link-30" title="40个话题" style="font-size: 17.119266055pt;">Web</a>
<a href="http://coolshell.cn/tag/windows" class="tag-link-49" title="17个话题" style="font-size: 12.623853211pt;">Windows</a>
<a href="http://coolshell.cn/tag/xml" class="tag-link-104" title="8个话题" style="font-size: 8.64220183486pt;">XML</a>
<a href="http://coolshell.cn/tag/%e5%ae%89%e5%85%a8" class="tag-link-318" title="19个话题" style="font-size: 13.1376146789pt;">安全</a>
<a href="http://coolshell.cn/tag/%e7%a8%8b%e5%ba%8f%e5%91%98" class="tag-link-58" title="96个话题" style="font-size: 22pt;">程序员</a>
<a href="http://coolshell.cn/tag/%e7%ae%97%e6%b3%95" class="tag-link-77" title="10个话题" style="font-size: 9.79816513761pt;">算法</a>
</p>


